.M {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.M2 {
  width: 100%;
  background-color: #1E1E1E;
  border-top: 0px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
}